.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f0f2f5;
}

.content-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
}


.main-content {
  flex-grow: 1;
  padding: 24px;
  margin: 0;
  overflow-y: auto;
  background-color: #f0f2f5;
  min-height: 280px;
}


.ant-layout-sider {
  background-color: #fff !important;
  padding: 16px 0;
  border-right: 1px solid #f0f0f0;
}


.content-layout>.ant-layout-sider:first-child {
  max-width: 250px !important;
  min-width: 200px !important;
}


.content-layout>.ant-layout-sider:last-child {
  max-width: 300px !important;
  min-width: 250px !important;
  border-left: 1px solid #f0f0f0;
}



@media (max-width: 1200px) {
  .content-layout>.ant-layout-sider:first-child {
    max-width: 200px !important;
    min-width: 180px !important;
  }

  .content-layout>.ant-layout-sider:last-child {
    max-width: 250px !important;
    min-width: 220px !important;
  }
}

@media (max-width: 992px) {
  .content-layout>.ant-layout-sider:last-child {
    display: none !important;
  }

  .main-content {
    padding: 16px;
    /* Giáº£m padding */
  }
}

@media (max-width: 768px) {
  .content-layout>.ant-layout-sider:first-child {
    display: none !important;
  }
}