.password-wrapper {
    position: relative;
    width: 100%; 
    margin: 8px 0; 
}


.password-wrapper input {
    
    padding-right: 45px !important; 
}


.password-toggle-icon {
    position: absolute;
    
    top: 50%; 
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 1rem; 
    transition: color 0.2s ease;
    user-select: none;
    z-index: 10;
}

.password-toggle-icon:hover {
    color: var(--color-text-secondary, #555);
}


.error-message {
    color: #e74c3c; 
    font-size: 0.7rem; 
    margin: 5px 0 10px 0; 
    display: block;
    text-align: center;
    width: 100%;
}