@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.register-page {
   
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    min-height: 100vh;
    width: 100%;
    
    /* Đảm bảo nội dung không tràn ra ngoài nếu không cần cuộn */
    overflow: hidden; 
}


.register-page .register-form-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    padding: 40px 0; 
    
   
    width: 450px; 
    max-width: 90%;
    
   
    min-height: 650px; 
    
    /* Hiển thị form bên trong */
    display: flex;
    justify-content: center;
    align-items: center;
}


.register-page form {
    
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px; /* Padding ngang như Login */
    height: 100%;
    width: 100%;
}



.register-page input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

.register-page button {
    background-color: #4E56C0;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-page button:hover {
    background-color: #3f479e; 
}